<div class="center-content">
  <h4>Together, we nourish!</h4>
  <h5>bringing surplus goodness to those who need it most</h5>

  <div class="search-wrapper">
    <div class="input-with-button">
      <input #addressInput id="autocomplete" type="text" placeholder="Enter your address" />
      <button class="go-btn" (click)="updateMap(addressInput.value)">&#10148;</button>
    </div>
  </div>

  <div class="map-container" *ngIf="mapUrl">
    <iframe src="https://storage.googleapis.com/maps-solutions-xirezl8oo6/neighborhood-discovery/19he/neighborhood-discovery.html"
  width="100%" height="100%"
  style="border:0;"
  loading="lazy">
</iframe>
  </div>
</div>
