.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(245, 245, 245, 0.71);
    color: rgb(67, 67, 67);
    border: none;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-to-top:hover {
    background-color: #ffffff;
  }
  