<div class="main-container">
  <div class="navbar">
    <!-- Group logo + text together -->
    <div class="logo-brand">
      <img src="https://www.pngkey.com/png/full/79-793741_cookie-crumble-bite.png" alt="logo" class="logo" width="40" height="40">
      <a routerLink="/mainpage" class="brand-text">SHARE-A-BITE</a>
    </div>

    <ul>
      <li><a routerLink="/signup">SIGN UP</a></li>
      <li><a routerLink="/signin">SIGN IN</a></li>
      <li><a routerLink="/browsing">BROWSE</a></li>
      <li><a href="#">SUPPORT</a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>


</div>
<footer class="footer">
  <div class="footer-links">
    <a routerLink="/privacypolicy">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
  </div>
  <div class="footer-copyright">
    &copy; 2025 Share-A-Bite. All rights reserved.
  </div>
</footer>


