<div class="container">
         <div class="layered-pattern">
            <div class="layer" (click)="scrollToSection('about')">ABOUT</div>
            <div class="layer" (click)="scrollToSection('experience')">EXPERIENCE</div>
            <div class="layer" (click)="scrollToSection('projects')">PROJECTS</div>
            <div class="layer" (click)="scrollToSection('interests')">INTERESTS</div>
            <div class="layer" (click)="scrollToSection('contact')">CONTACT</div>
        </div>
    </div>

   
      <router-outlet></router-outlet>
   
  


